.about-block
  background: $active-background-color-lite
  .about-block-inner
    padding-bottom: 8.0rem
    .title-dv
      display: flex
      justify-content: center
      padding-top: 8.0rem
      padding-bottom: 8.0rem
      .title
        color: #ffffff
        font-family: $font-agora
        font-size: 2.3rem
        font-weight: 700
        text-transform: uppercase
    .descr-dv
      .descr
        display: flex
        align-items: center
        .foto
          width: 30%
          height: 35.0rem
          background-color: #ffffff
          border-radius: 1.0rem 0
        .description
          width: 70%
          color: #f7f7f7
          font-family: $font-agora
          font-size: 2.0rem
          font-weight: 500
          text-transform: uppercase
          line-height: 3.0rem
          margin-left: 3.0rem

@media all and (min-width: 992px) and (max-width: 1199px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 6.0rem
      .title-dv
        display: flex
        justify-content: center
        padding-top: 6.0rem
        padding-bottom: 6.0rem
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.3rem
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 40%
            height: 30.0rem
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 1.8rem
            font-weight: normal
            text-transform: uppercase
            line-height: 3.0rem
            margin-left: 3.0rem

@media all and (min-width: 768px) and (max-width: 991px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 4.0rem
      .title-dv
        display: flex
        justify-content: center
        padding-top: 4.0rem
        padding-bottom: 4.0rem
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.3rem
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 40%
            height: 25.0rem
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 1.5rem
            font-weight: normal
            text-transform: uppercase
            line-height: 2.0rem
            margin-left: 3.0rem

@media all and (min-width: 576px) and (max-width: 767px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 4.0rem
      .title-dv
        display: flex
        justify-content: center
        padding-top: 4.0rem
        padding-bottom: 4.0rem
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.0rem
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 40%
            height: 20.0rem
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 1.2rem
            font-weight: normal
            text-transform: uppercase
            line-height: 1.6rem
            margin-left: 3.0rem

@media all and (min-width: 480px) and (max-width: 575px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 7.0vw
      .title-dv
        display: flex
        justify-content: center
        padding-top: 7.0vw
        padding-bottom: 7.0vw
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 3.0vw
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 30.0vw
            height: 30.0vw
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 2.0vw
            font-weight: normal
            text-transform: uppercase
            line-height: 1.6rem
            margin-left: 2.0rem

@media all and (min-width: 320px) and (max-width: 479px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 7.0vw
      .title-dv
        display: flex
        justify-content: center
        padding-top: 7.0vw
        padding-bottom: 7.0vw
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 3.0vw
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 30.0vw
            height: 30.0vw
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 2.0vw
            font-weight: normal
            text-transform: uppercase
            line-height: 3.0vw
            margin-left: 2.5vw

@media all and (min-width: 240px) and (max-width: 319px)
  .about-block
    background: $active-background-color-lite
    .about-block-inner
      padding-bottom: 7.0vw
      .title-dv
        display: flex
        justify-content: center
        padding-top: 7.0vw
        padding-bottom: 7.0vw
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 3.0vw
          font-weight: 700
          text-transform: uppercase
      .descr-dv
        .descr
          display: flex
          align-items: flex-start
          .foto
            width: 30.0vw
            height: 30.0vw
            background-color: #ffffff
            border-radius: 1.0rem 0
          .description
            width: 70%
            color: #f7f7f7
            font-family: $font-agora
            font-size: 2.0vw
            font-weight: normal
            text-transform: uppercase
            line-height: 3.0vw
            margin-left: 2.5vw


