.footer
  .footer-inner
    .footer-top
      background-color: $active-background-color-lite
      padding-top: 5.0rem
      .footer-t-inner
        .title
          text-align: center
          text-transform: uppercase
          color: #ffffff
          font-size: 2.0rem
          padding-bottom: 4.0rem
        .descr
          //margin-left: 5.0rem
          color: #ffffff
          font-size: 1.7rem
          line-height: 3.0rem
          ul
            li
              margin-top: 1.0rem
              //padding: 0.2rem
              .soc-element
                width: 80%
                display: flex
                justify-content: space-between
                align-items: center
                .ico
                  width: 13%
                  display: flex
                  justify-content: center
                  align-items: center
                  img
                    width: 100%
            li:hover
              background-color: $active-background-color-dark
              cursor: pointer

        .personal-information
          display: flex
          justify-content: center
          padding: 2.0rem
          padding-top: 2.0rem
          color: #ffffff
          font-size: 1.5rem
          a
            color: #ffffff
        .rights
          display: flex
          justify-content: center
          padding: 1.0rem
          color: #ffffff
          font-size: 1.5rem



    .footer-bottom
      background-color: $active-background-color-dark
      padding-top: 1.0rem
      padding-bottom: 1.0rem
      .footer-b-inner
        display: flex
        justify-content: space-between
        align-items: center
        color: #ffffff
        font-size: 1.5rem
        .contacts
        .company
        .soc

@media (max-width: 992px)
  .footer
    .footer-inner
      .footer-top
        background-color: $active-background-color-lite
        padding-top: 3.0rem
        .footer-t-inner
          .title
            text-align: center
            text-transform: uppercase
            color: #ffffff
            font-size: 1.8rem
            padding-bottom: 3.0rem
          .descr
            //margin-left: 5.0rem
            color: #ffffff
            font-size: 1.5rem
            line-height: 3.0rem
            ul
              li
                margin-top: 0.5rem
                //padding: 0.2rem
                .soc-element
                  width: 80%
                  display: flex
                  justify-content: space-between
                  align-items: center
                  .ico
                    width: 13%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                      width: 100%
              li:hover
                background-color: $active-background-color-dark
                cursor: pointer

          .personal-information
            display: flex
            justify-content: center
            padding: 2.0rem
            padding-top: 2.0rem
            color: #ffffff
            font-size: 1.3rem
            a
              color: #ffffff
          .rights
            display: flex
            justify-content: center
            padding: 1.0rem
            color: #ffffff
            font-size: 1.3rem



      .footer-bottom
        background-color: $active-background-color-dark
        padding-top: 1.0rem
        padding-bottom: 1.0rem
        .footer-b-inner
          display: flex
          justify-content: space-between
          align-items: center
          color: #ffffff
          font-size: 1.3rem
          .contacts
          .company
          .soc

@media (max-width: 768px)
  .footer
    .footer-inner
      .footer-top
        background-color: $active-background-color-lite
        padding-top: 3.0rem
        .footer-t-inner
          .title
            text-align: center
            text-transform: uppercase
            color: #ffffff
            font-size: 1.5rem
            padding-bottom: 2.0rem
          .descr
            //margin-left: 5.0rem
            color: #ffffff
            font-size: 1.3rem
            line-height: 2.0rem
            ul
              li
                margin-top: 0.5rem
                //padding: 0.2rem
                .soc-element
                  width: 80%
                  display: flex
                  justify-content: space-between
                  align-items: center
                  .ico
                    width: 13%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                      width: 100%
              li:hover
                background-color: $active-background-color-dark
                cursor: pointer

          .personal-information
            display: flex
            justify-content: center
            padding: 2.0rem
            padding-top: 2.0rem
            color: #ffffff
            font-size: 1.3rem
            a
              color: #ffffff
          .rights
            display: flex
            justify-content: center
            padding: 1.0rem
            color: #ffffff
            font-size: 1.3rem



      .footer-bottom
        background-color: $active-background-color-dark
        padding-top: 1.0rem
        padding-bottom: 1.0rem
        .footer-b-inner
          display: flex
          justify-content: space-between
          align-items: center
          color: #ffffff
          font-size: 1.3rem
          .contacts
          .company
          .soc

@media (max-width: 576px)
  .footer
    .footer-inner
      .footer-top
        background-color: $active-background-color-lite
        padding-top: 1.0rem
        .footer-t-inner
          .title
            text-align: center
            text-transform: uppercase
            color: #ffffff
            font-size: 1.5rem
            padding-top: 2.5rem
            padding-bottom: 1.0rem
          .descr
            //margin-left: 5.0rem
            color: #ffffff
            font-size: 1.3rem
            line-height: 2.0rem
            ul
              li
                margin-top: 0.5rem
                //padding: 0.2rem
                .soc-element
                  width: 100%
                  display: flex
                  justify-content: space-between
                  align-items: center
                  .ico
                    width: 5%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                      width: 100%
              li:hover
                background-color: $active-background-color-dark
                cursor: pointer

          .personal-information
            display: flex
            justify-content: center
            padding: 2.0rem
            padding-top: 2.0rem
            color: #ffffff
            font-size: 1.3rem
            a
              color: #ffffff
          .rights
            display: flex
            justify-content: center
            padding: 1.0rem
            color: #ffffff
            font-size: 1.3rem



      .footer-bottom
        background-color: $active-background-color-dark
        padding-top: 1.0rem
        padding-bottom: 1.0rem
        .footer-b-inner
          display: flex
          justify-content: space-between
          align-items: center
          color: #ffffff
          font-size: 1.3rem
          .contacts
            .logo-img
              img
                width: 75%
          .company
          .soc