.main
  .header, .footer
    .logo-info
      padding: 0
      padding-top: 1rem
      padding-bottom: 1rem
      background-color: $active-background-color-lite
      .nav-logo-info
        background-color: $active-background-color-dark
        position: relative
        text-align: center
        .wrap-logo-info
          display: flex
          flex-direction: row
          justify-content: space-between
          align-items: center
          .logo-brend
            display: none
          .open-logo-info
            display: none
            color: #ffffff
            padding: 10px 15px
            cursor: pointer

        .ul-logo-info
          //display: inline-block
          display: flex
          justify-content: space-between

          align-items: center
          background-color: $active-background-color-lite
          margin: 0
          padding: 0
          list-style: none
          li
            display: inline-block
            a
              display: block
              padding: 10px 15px
              color: #ffffff
              text-decoration: none
            .logo-info-placeholder
              display: flex
              justify-content: center
              align-items: center
              background-color: $active-background-color-dark
              padding: 1rem
              border-radius: 0rem 0rem 0rem 0.5rem
              &__text
                color: #ffffff
                font-weight: 500
                text-transform: uppercase
                font-size: 1.4rem
                padding: 0.3rem 0.5rem
              &__img
                img
                  height: 2.0rem
            .logo-info-alarm
              display: flex
              justify-content: center
              align-items: center
              background-color: $active-background-color-dark
              padding: 1rem
              border-radius: 0rem 0rem 0rem 0.5rem

              &__text
                color: #ffffff
                font-weight: 500
                text-transform: uppercase
                font-size: 1.4rem
                padding: 0.3rem 0.5rem
              &__img
                img
                  height: 2.0rem
            .logo-info-city
              display: flex
              justify-content: center
              align-items: center
              background-color: $active-background-color-dark
              padding: 1rem
              border-radius: 0rem 0rem 0rem 0.5rem
              &__text
                color: #ffffff
                font-weight: 500
                text-transform: uppercase
                font-size: 1.4rem
                padding: 0.3rem 0.5rem
              &__img
                img
                  height: 2.0rem
            .logo-info-social
              //display: flex
              display: none
              justify-content: space-between
              align-items: center
              &__img
                img
                  min-height: 2.0rem
                  padding-left: 0.5rem
            .logo-info-call
              &-alarm__text
                color: #ffffff
                font-size: 1.5rem
                font-weight: 500
                text-transform: uppercase
                border: 1px solid $active-background-color-gold
                border-radius: 5px
                padding: 0.9rem







@media  (max-width: 1200px)
  #logo_brend
    display: block
  #open_logo_info
    display: block
    padding: 0 0.5rem
  #ul_logo_info
    display: none
    //position: absolute
    //top: 100%
    //left: 0
    width: 100%
    li
      display: block
      border-bottom: 1px solid $active-background-color-lite
    li.logo
      display: none

  #ul_logo_info.active
    display: block

  .logo-info
    //margin-bottom: 1rem



    //*************************************

.logo-info
  padding-top: 1rem
  padding-bottom: 1rem
  background-color: $active-background-color-lite
  .navbar
    background-color: $active-background-color-lite !important
    padding: 0
    .logo-img
      margin-right: 2rem
  .ul-logo-info
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    margin: 0
    .logo-info-placeholder
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 1rem
      border-radius: 0rem 0rem 0rem 0.5rem
      &__text
        color: #ffffff
        font-weight: 500
        text-transform: uppercase
        font-size: 1.4rem
        padding: 0.3rem 0.5rem
      &__img
        img
          min-height: 2.0rem
    .logo-info-alarm
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 1rem
      border-radius: 0rem 0rem 0rem 0.5rem

      &__text
        color: #ffffff
        font-weight: 500
        text-transform: uppercase
        font-size: 1.4rem
        padding: 0.3rem 0.5rem
      &__img
        img
          min-height: 2.0rem
    .logo-info-city
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 1rem
      border-radius: 0rem 0rem 0rem 0.5rem
      &__text
        color: #ffffff
        font-weight: 500
        text-transform: uppercase
        font-size: 1.4rem
        padding: 0.3rem 0.5rem
      &__img
        img
          min-height: 2.0rem
    .logo-info-social
      display: flex
      justify-content: space-between
      align-items: center
      &__img
        img
          min-height: 2.0rem
          padding-left: 0.5rem
    .logo-info-call
      &-alarm__text
        color: #ffffff
        font-size: 1.5rem
        font-weight: 500
        text-transform: uppercase
        border: 1px solid $active-background-color-gold
        border-radius: 5px
        padding: 0.9rem


