.calc-block
  //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
  background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
  color: #ffffff
  &-inner
    padding-top: 120px
    padding-bottom: 110px
    .titleBlockH1
      width: 100%
      text-align: center
      .title
        color: #ffffff
        font-family: $font-agora
        font-size: 38px
        font-weight: 700
        text-transform: uppercase
    form
      margin-top: 7.0rem
      .rowBlock
        padding-top: 0.5rem
        padding-bottom: 0.5rem
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .label
          width: 39%
          text-align: right
          //background: rebeccapurple
          min-height: 1rem
          label
            color: #ffffff
            font-family: $font-lato
            font-size: 2.0rem
            font-weight: 500
        .input
          width: 60%
          //background: #ffb118
          min-height: 1rem
          input
            width: 50%
            font-size: 2.0rem
            line-height: 2.0rem
            background-color: #ffffff
        .check-box
          width: 60%
          display: flex
          align-items: center
          margin-top: 30px
          input[type=checkbox]
            display: none
          label
            font-size: 17px
            font-weight: 300
            margin-left: 20px
          #check1div, #check2div, #check3div
            width: 25px
            height: 25px
            background-color: #222222
            display: flex
            align-items: center
            justify-content: center
            #check-img1, #check-img2, #check-img3
              width: 70%
        .form-submit
          margin-top: 3.0rem
          width: 60%
          height: 50px
          display: flex
          justify-content: flex-start
          align-items: center
          .txt
            width: 50%
            padding-top: 1.5rem
            padding-bottom: 1.5rem
            background-color: black
            color: #ffffff
            font-family: $font-agora
            font-size: 2.0rem
            font-weight: 500
            text-transform: uppercase
            text-align: center
            border-radius: 0 0 0 0.5rem
        .key
          width: 39%
          text-align: right
          //background: rebeccapurple
          min-height: 1rem
          .txt
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
    .calc-result
      .rowBlock
        padding-top: 0.5rem
        padding-bottom: 0.5rem
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center

        .key
          width: 39%
          text-align: right
          min-height: 1rem
          .txt
            color: #ffffff
            font-family: $font-lato
            font-size: 1.5rem
            font-weight: 500
        .result-meth-wrap
          width: 60%
          .result-meth
            width: 50%
            background: #ffffff
            height: 3.0rem
            display: flex
            align-items: center
            .price
              width: 100%
              //height: 36px
              text-align: center
              color: #000000
              font-family: $font-agora
              font-size: 2.0rem
              line-height: 2.0rem
              font-weight: 500
              text-transform: uppercase
            img
              padding-right: 0.5rem
    .calcDescriptionBlock
      .rowBlock
        padding-top: 0.5rem
        padding-bottom: 0.5rem
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .calcDescription
          width: 100%
          display: flex
          justify-content: space-between
          .img
            width: 10%
            //background-color: red
            display: flex
            justify-content: center
            align-items: center
            img
              width: 2.5rem
              height: 2.5rem
          .txt
            width: 70%
            padding-left: 2.0rem
            //background-color: green
            display: flex
            justify-content: flex-start
            align-items: center
            color: #ffffff
            font-family: $font-lato
            font-size: 1.5rem
            font-weight: 400
          .btn
            width: 20%
            //background-color: blueviolet
            display: flex
            justify-content: center
            align-items: center

            a
              background-color: #000000
              width: 100%
              height: 3.0rem
              display: block
              line-height: 3.0rem
              text-decoration: none
              text-align: center
              font-size: 14px
              font-family: $font-lato
              text-transform: uppercase
              color: #ffffff
              border-radius: 0 0 0 0.5rem
    hr
      margin-top: 2.0rem
      margin-bottom: 2.0rem


@media  all and (max-width: 1200px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 8.0rem
      padding-bottom: 8.0rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 3.0rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 6.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 1.8rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 50%
              font-size: 2.0rem
              line-height: 2.0rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 30px
            input[type=checkbox]
              display: none
            label
              font-size: 17px
              font-weight: 300
              margin-left: 20px
            #check1div, #check2div, #check3div
              width: 25px
              height: 25px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 70%
          .form-submit
            margin-top: 3.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 50%
              padding-top: 1.5rem
              padding-bottom: 1.5rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 1.8rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 1.5rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 50%
              background: #ffffff
              height: 3.0rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 2.0rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 10%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 2.5rem
                height: 2.5rem
            .txt
              width: 70%
              padding-left: 2.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 1.5rem
              font-weight: 400
            .btn
              width: 20%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 3.0rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 14px
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem



@media  all and (max-width: 992px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 6.0rem
      padding-bottom: 5.0rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.5rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 4.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 1.6rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 50%
              font-size: 2.0rem
              line-height: 2.0rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 30px
            input[type=checkbox]
              display: none
            label
              font-size: 1.6rem
              font-weight: 300
              margin-left: 20px
            #check1div, #check2div, #check3div
              width: 25px
              height: 25px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 70%
          .form-submit
            margin-top: 3.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 50%
              padding-top: 1.5rem
              padding-bottom: 1.5rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 1.6rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 1.3rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 50%
              background: #ffffff
              height: 2.5rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 2.0rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 10%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 2.5rem
                height: 2.5rem
            .txt
              width: 70%
              padding-left: 2.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 1.3rem
              font-weight: 400
            .btn
              width: 20%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 3.0rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 1.1rem
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem


@media  all and (max-width: 768px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 4.0rem
      padding-bottom: 3.0rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.0rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 3.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 1.3rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 50%
              font-size: 1.3rem
              line-height: 2.0rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 2.0rem
            input[type=checkbox]
              display: none
            label
              font-size: 1.3rem
              font-weight: 300
              margin-left: 20px
            #check1div, #check2div, #check3div
              width: 20px
              height: 20px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 1.3rem
          .form-submit
            margin-top: 1.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 50%
              padding-top: 1.3rem
              padding-bottom: 1.3rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 1.2rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 1.2rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 50%
              background: #ffffff
              height: 2.0rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 1.3rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
                width: 1.8rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 10%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 2.3rem
                height: 2.3rem
            .txt
              width: 70%
              padding-left: 2.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 1.1rem
              font-weight: 400
            .btn
              width: 20%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 3.0rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 1.0rem
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem


@media  all and (max-width: 576px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 4.0rem
      padding-bottom: 3.0rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 2.0rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 3.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 1.1rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 50%
              font-size: 1.3rem
              line-height: 2.0rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 2.0rem
            input[type=checkbox]
              display: none
            label
              font-size: 1.1rem
              font-weight: 300
              margin-left: 20px
            #check1div, #check2div, #check3div
              width: 20px
              height: 20px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 1.3rem
          .form-submit
            margin-top: 1.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 50%
              padding-top: 1.3rem
              padding-bottom: 1.3rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 1.0rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 1.0rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 50%
              background: #ffffff
              height: 2.0rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 1.3rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
                width: 1.8rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 10%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 2.3rem
                height: 2.3rem
            .txt
              width: 70%
              padding-left: 2.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 1.0rem
              font-weight: 400
            .btn
              width: 20%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 3.0rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 0.8rem
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem


@media  all and (max-width: 480px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: $active-background-color-dark url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 4.0rem
      padding-bottom: 3.0rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 1.5rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 3.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 1.1rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 70%
              font-size: 1.1rem
              line-height: 1.5rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 2.0rem
            input[type=checkbox]
              display: none
            label
              font-size: 1.0rem
              font-weight: 300
              margin-left: 20px
            #check1div, #check2div, #check3div
              width: 20px
              height: 20px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 1.1rem
          .form-submit
            margin-top: 1.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 70%
              padding-top: 1.3rem
              padding-bottom: 1.3rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 0.8rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 0.8rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 70%
              background: #ffffff
              height: 2.0rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 1.0rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
                width: 1.5rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 10%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 1.5rem
                height: 1.5rem
            .txt
              width: 65%
              padding-left: 2.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 0.8rem
              font-weight: 400
            .btn
              width: 25%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 3.0rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 0.6rem
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem


@media  all and (max-width: 320px)
  .calc-block
    //background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat
    background: #02458D url("../img/mainCalc/bg-image.png") top no-repeat
    color: #ffffff
    &-inner
      padding-top: 2.5rem
      padding-bottom: 2.5rem
      .titleBlockH1
        width: 100%
        text-align: center
        .title
          color: #ffffff
          font-family: $font-agora
          font-size: 1.0rem
          font-weight: 700
          text-transform: uppercase
      form
        margin-top: 2.0rem
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .label
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            label
              color: #ffffff
              font-family: $font-lato
              font-size: 0.7rem
              font-weight: 500
          .input
            width: 60%
            //background: #ffb118
            min-height: 1rem
            input
              width: 70%
              font-size: 0.7rem
              line-height: 1.0rem
              background-color: #ffffff
          .check-box
            width: 60%
            display: flex
            align-items: center
            margin-top: 2.0rem
            input[type=checkbox]
              display: none
            label
              font-size: 0.7rem
              font-weight: 300
              margin-left: 15px
            #check1div, #check2div, #check3div
              width: 15px
              height: 15px
              background-color: #222222
              display: flex
              align-items: center
              justify-content: center
              #check-img1, #check-img2, #check-img3
                width: 1.1rem
          .form-submit
            margin-top: 1.0rem
            width: 60%
            height: 50px
            display: flex
            justify-content: flex-start
            align-items: center
            .txt
              width: 70%
              padding-top: 1.3rem
              padding-bottom: 1.3rem
              background-color: black
              color: #ffffff
              font-family: $font-agora
              font-size: 0.6rem
              font-weight: 500
              text-transform: uppercase
              text-align: center
              border-radius: 0 0 0 0.5rem
          .key
            width: 39%
            text-align: right
            //background: rebeccapurple
            min-height: 1rem
            .txt
              width: 39%
              text-align: right
              //background: rebeccapurple
              min-height: 1rem
      .calc-result
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center

          .key
            width: 39%
            text-align: right
            min-height: 1rem
            .txt
              color: #ffffff
              font-family: $font-lato
              font-size: 0.6rem
              font-weight: 500
          .result-meth-wrap
            width: 60%
            .result-meth
              width: 70%
              background: #ffffff
              height: 2.0rem
              display: flex
              align-items: center
              .price
                width: 100%
                //height: 36px
                text-align: center
                color: #000000
                font-family: $font-agora
                font-size: 0.8rem
                line-height: 2.0rem
                font-weight: 500
                text-transform: uppercase
              img
                padding-right: 0.5rem
                width: 1.5rem
      .calcDescriptionBlock
        .rowBlock
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .calcDescription
            width: 100%
            display: flex
            justify-content: space-between
            .img
              width: 8%
              //background-color: red
              display: flex
              justify-content: center
              align-items: center
              img
                width: 1.5rem
                height: 1.5rem
            .txt
              width: 65%
              padding-left: 1.0rem
              //background-color: green
              display: flex
              justify-content: flex-start
              align-items: center
              color: #ffffff
              font-family: $font-lato
              font-size: 0.6rem
              font-weight: 400
            .btn
              width: 27%
              //background-color: blueviolet
              display: flex
              justify-content: center
              align-items: center

              a
                background-color: #000000
                width: 100%
                height: 2.5rem
                display: block
                line-height: 3.0rem
                text-decoration: none
                text-align: center
                font-size: 0.5rem
                font-family: $font-lato
                text-transform: uppercase
                color: #ffffff
                border-radius: 0 0 0 0.5rem
      hr
        margin-top: 2.0rem
        margin-bottom: 2.0rem



