.say-about-us-block
  .say-about-us-block-inner
    padding-top: 135px
    padding-bottom: 135px
    .title
      color: #175386
      font-size: 38px
      font-weight: 700
      text-transform: uppercase
      text-align: center
      margin-bottom: 120px
    .slider-sl2
      position: relative
      .wrap-sl2
        width: 100%
        height: 35vw
        margin: 0 auto
        position: relative
        display: flex
        justify-content: space-between
        .slider-item-sl2
          width: 90%
          height: 35vw
          margin: 0 auto
          position: relative
          .ifr
            width: 100%
            height: inherit
            iframe
              margin: 0 auto
              width: 100%
              height: inherit
              text-align: center
          img
            width: 100%
        .prev-sl2
          background-color: #124673
          cursor: pointer
          width: 5%
          height: 35.0vw
          background-color: rgba(0,0,0,.0)
          transition: 0.3s
          display: flex
          justify-content: center
          align-items: center
          &:hover
            background-color: rgba(0,0,0,.1)
            .arrow-left-sl2
              opacity: 1
          .arrow-left-sl2
            width: 50px
            height: 50px
            background: url("../img/main-say-about/icons/left.png") center no-repeat
            background-size: cover
            opacity: .7
            transition: 1s
        .next-sl2
          background-color: #124673
          cursor: pointer
          width: 5%
          height: 35.0vw
          background-color: rgba(0,0,0,.0)
          transition: 0.3s
          display: flex
          justify-content: center
          align-items: center
          &:hover
            background-color: rgba(0,0,0,.1)
            .arrow-right-sl2
              opacity: 1
          .arrow-right-sl2
            width: 50px
            height: 50px
            background: url("../img/main-say-about/icons/right.png") center no-repeat
            background-size: cover
            opacity: .7
            transition: 1s









