.main
  font-size: 10px
  &-slider-block
  .slider-block
    position: relative
    //background: #373737 url("../img/slider/111/main-bg.jpg") center no-repeat
    background: #373737 url("../img/slider/slider-bg-2.jpg") center no-repeat
    background-size: cover
    overflow: hidden
    .slider-overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    //background-color: rgba(23,82,134,.8)
    //z-index: 0

    .slider
      //margin-top: 150px
      position: relative
      &-title
        position: absolute
        width: 40%
        top: 0
        left: 0
        //font-size: 3.2em
        color: #ffffff
        z-index: 1
        &__text1
          padding-top: 80px
          font-size: 3.7em
          font-weight: 400
        &__text2
          padding-top: 10px
          font-size: 4.5em
          font-weight: 400
          text-transform: uppercase
        &__text3
          font-family: $font-lato
          padding-top: 37px
          font-size: 2.3em
          font-weight: 300
          line-height: 30px
        &-buttons
          padding-top: 25px
          a
            text-decoration: none
            .btn-poligon-right
              width: 60%
              height: 45px
              border-radius: 0 0 0 5px
              margin-bottom: 20px
              .txt
                margin: auto
                color: #333333
                font-size: 14px
                font-weight: 500
                text-transform: uppercase
                padding-top: 10px
                padding-bottom: 10px
              .poligon-right
                width: 45px
                height: 45px

      .wrap
        width: 100%
        position: relative
        .slider-item
          width: 100%
          margin: 0 auto
          //margin-top: 50px
          position: relative
          img
            width: 100%
        .prev
          display: none
          position: absolute
          cursor: pointer
          top: 0
          width: 90px
          //left: 10%
          left: 0
          background-color: rgba(0,0,0,.0)
          transition: 0.3s
          height: 100%
          &:hover
            background-color: rgba(0,0,0,.4)
            .arrow-left
              opacity: 1
          .arrow-left
            width: 30px
            height: 30px
            background: url("../img/slider/111/icons/left-arrow.svg") center no-repeat
            background-size: cover
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%)
            opacity: .4
            transition: 1s
        .next
          display: none
          position: absolute
          cursor: pointer
          top: 0
          width: 90px
          background-color: rgba(0,0,0,.0)
          transition: 0.3s
          height: 100%
          //right: 10%
          right: 0
          &:hover
            background-color: rgba(0,0,0,.4)
            .arrow-right
              opacity: 1
          .arrow-right
            width: 30px
            height: 30px
            background: url("../img/slider/111/icons/right-arrow.svg") center no-repeat
            background-size: cover
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%)
            opacity: .4
            transition: 1s
      &-dots
        width: 90%
        margin: 0 auto
        margin-top: 20px
        display: flex
        flex-direction: column
        //justify-content: center
        align-items: flex-end
        position: absolute
        bottom: 5%
        right: 0
        .dot-jd
          background: url("../img/slider/icons/jd.png") center no-repeat
        //background-color: $main-color
        .dot-av
          background: url("../img/slider/icons/airplane.png") center no-repeat
        //background-color: $main-color
        .dot-sh
          background: url("../img/slider/icons/ship.png") center no-repeat
        //background-color: $main-color
        .dot-sf
          background: url("../img/slider/icons/safe.png") center no-repeat
        //background-color: $main-color
        .dot
          cursor: pointer
          height: 40px
          width: 40px
          margin: 5px 10px
          background-color: $active-background-color-dark
          //border-radius: 50%
          display: inline-block
          transition: background-color 0.6s ease
          position: relative
          &-active
            background-color: $active-background-color-gold
            height: 40px
            width: 40px




@media  (max-width: 1200px)
  .main
    &-slider-block
    .slider-block
      .slider-overlay
      .slider
        &-title
          &__text1
            font-size: 2.5rem
            padding-top: 5.0rem
          &__text2
            font-size: 3.5rem
          &__text3
            font-size: 2.5rem

          &-buttons
            padding-top: 2.0rem
            a
              .btn-poligon-right
                .txt
                  font-size: 1.1rem
                  padding-top: 10px
                  padding-bottom: 10px
                .poligon-right
                  width: 45px
                  height: 45px


@media  (max-width: 990px)
  .main
    &-slider-block
    .slider-block
      .slider-overlay
      .slider
        &-title
          &__text1
            font-size: 1.5rem
            padding-top: 4.0rem
          &__text2
            font-size: 2.5rem
          &__text3
            font-size: 1.5rem
            padding-top: 2rem

          &-buttons
            padding-top: 1.0rem
            a
              .btn-poligon-right
                width: 70%
                height: 3rem
                .txt
                  font-size: 1.0rem
                  padding-top: 10px
                  padding-bottom: 10px
                .poligon-right
                  width: 3rem
                  height: 3rem


@media  (max-width: 768px)
  .main
    &-slider-block
    .slider-block
      .slider-overlay
      .slider
        &-title
          &__text1
            font-size: 1.5rem
            padding-top: 2.0rem
          &__text2
            font-size: 2.0rem
          &__text3
            font-size: 1.3rem
            padding-top: 1.5rem
            line-height: 1.3rem

          &-buttons
            padding-top: 1.0rem
            a
              .btn-poligon-right
                width: 80%
                height: 3rem
                margin-bottom: 1.0rem
                .txt
                  font-size: 0.9rem
                  padding-top: 0.5rem
                  padding-bottom: 0.5rem
                .poligon-right
                  width: 3rem
                  height: 3rem


@media  (max-width: 540px)
  .main
    &-slider-block
    .slider-block
      display: none
      .slider-overlay
      .slider
        &-title
          &__text1
            font-size: 1.5rem
            padding-top: 2.0rem
          &__text2
            font-size: 2.0rem
          &__text3
            font-size: 1.3rem
            padding-top: 1.5rem
            line-height: 1.3rem

          &-buttons
            padding-top: 1.0rem
            a
              .btn-poligon-right
                width: 80%
                height: 3rem
                margin-bottom: 1.0rem
                .txt
                  font-size: 0.9rem
                  padding-top: 0.5rem
                  padding-bottom: 0.5rem
                .poligon-right
                  width: 3rem
                  height: 3rem

