.services-block
  &-inner
    padding-top: 10.0rem
    padding-bottom: 6.0rem
    .service-img
      display: flex
      flex-direction: column
      align-items: center
      cursor: pointer
      img

        width: 12.0rem
      .sm-title
        text-align: center
        margin-top: 3.0rem
        color: #175386
        font-family: $font-agora
        font-size: 2.0rem
        font-weight: 700
        text-transform: uppercase
        line-height: 2.5rem
        padding-bottom: 7.0rem



.manager-block
  background-color: $active-background-color-lite
  &-inner
    padding-top: 15.0rem
    padding-bottom: 18.0rem
    .title
      display: flex
      justify-content: center
      &-txt
        color: #f7f7f7
        font-family: $font-agora
        font-size: 3.8rem
        font-weight: 700
        text-transform: uppercase
    .foto
      padding-top: 12.0rem
      display: flex
      justify-content: flex-end
      &-img
        width: 34.7rem
        height: 34.7rem
        background-color: #ffffff
        border-radius: 1.0rem 0 1.0rem 0
    .descr
      padding-top: 12.0rem
      &--title
        color: #f7f7f7
        font-family: $font-agora
        font-size: 2.2rem
        font-weight: 500
        text-transform: uppercase
      &--hr
        width: 80%
        border: 1px solid #f7f7f7
        margin-top: 2.7rem
        margin-bottom: 2.7rem
      &--description
        color: #f7f7f7
        font-family: $font-agora
        font-size: 1.7rem
        font-weight: 500
        text-transform: uppercase
