.main-tracking-block
  padding-top: 16.8rem
  padding-bottom: 16.8rem
  .tracking-block
    &-inner
      .get-number
        display: flex
        flex-direction: row
        justify-content: center
        .input
          input
            padding: 1.0rem
            background-color: #333333
            color: #ffffff
            font-family: $font-lato
            font-size: 1.4rem
            font-weight: 300
        .num_or_pin
          color: #333333
          font-family: $font-agora
          font-size: 2.2rem
          font-weight: 500
          display: flex
          justify-content: center
          align-items: center
          margin-left: 5rem
          margin-right: 5rem
      .tap-find
        margin-top: 7.5rem
        display: flex
        flex-direction: row
        justify-content: center
        .btn-standart
          width: 22.5rem
      .exist-lk
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding-top: 13.0rem
        .txt-q
          color: #333333
          font-family: $font-agora
          font-size: 2.2rem
          font-weight: 500
          padding-right: 2.0rem
        .btn-standart
          padding: 0
          text-align: center
          a
            text-decoration: none
            color: #ffffff
            width: 100%
            padding-top: 1.5rem
            padding-bottom: 1.5rem








