$text-color-dark: #373737
$text-color-lite: #ffffff
//$active-background-color-lite: #175488
$active-background-color-lite: #0257c7
//$active-background-color-dark: #124673
$active-background-color-dark: #02458D
$active-background-color-gold: #ffb118

$main-color: #c78030
$dark: #373737

$size-poligon: 50px
$fz10: 10px

//fonts
//$font-agora: 'AgoraSansPro', sans-serif
$font-agora: 'AgoraSansProRegular', sans-serif
$font-pt_sans: 'PT Sans', sans-serif
$font-lato: 'LatoRegular', sans-serif

.collapse
ul.nav1
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin: 0

.btn-standart
  width: 20%
  background-color: $active-background-color-lite
  color: #ffffff
  font-family: $font-agora
  font-size: 1.4rem
  font-weight: 500
  text-transform: uppercase
  display: flex
  justify-content: center
  padding-top: 1.5rem
  padding-bottom: 1.5rem
  border-radius: 0 0.5rem 0 0.5rem
  //cursor: pointer


//кнопка наверх
// стили
#back-top
  position: fixed
  bottom: 60px
  right: 10%

#back-top a
  background: url(../img/up/up5.png) no-repeat
  background-size: 60px
  width: 60px
  height: 70px
  display: block
  margin-bottom: 7px

  // на странице
//<p id="back-top"><a href="#top"><span></span></a></p>
//<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
//
//
//<script>
//$(document).ready(function(){
//$("#back-top").hide();
//$(function () {
//$(window).scroll(function () {
//if ($(this).scrollTop() > 100) {
//$('#back-top').fadeIn();
//} else {
//$('#back-top').fadeOut();
//}
//});
//$('#back-top a').click(function () {
//$('body,html').animate({
//scrollTop: 0
//}, 400);
//return false;
//});
//});
//});
//</script>
//
