@import "variables"
@import "interface"

html
  font-size: 10px
body
  background-color: #ffffff
  font-family: $font-agora
  //font-family: 'Roboto'
  //font-family: 'AgoraSansPro', sans-serif
  //font-family: 'Lato', sans-serif
  //font-family: 'LatoItalic', sans-serif

  //font-family: 'PT Sans', sans-serif
  box-sizing: border-box
  font-size: 10px



//header
@import "logoInfo_1500"
@import "logoInfo_1200"
@import "logoInfo_0992"
@import "logoInfo_0768"
@import "logoInfo_0576"
@import "logoInfo_0480"

@import "brendInfo_1500"
@import "primaryMenuMain"

//footer
@import "footer_new"
@import "primaryMainFindUsBlock"

//primary page
@import "primaryMainSliderBlock"
@import "primaryMainAcceptShipBlock"
@import "primaryMainSafetyBlock"
@import "primaryMainWorkWithUsBlock"
@import "primaryMainCalcBlock"
@import "primaryMainCalcBlock2"
@import "primaryMainSayAboutUsBlock"



//tracking-page
@import "trackingMainTrackingBlock"

//услуги - services
@import "services"

//тарифы - prices
@import "prices"

//направления - routes
@import "routes"

//личный кабинет
@import "personal"

//документы и полезные статьи
@import "docs"

//документы
@import "documents"

//полезные статьи
@import "articles"

//страница о компании
@import "about"

//страница Контакты
@import "contacts"



