.header2
  background-color: blueviolet //$active-background-color-lite
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10px
    padding-bottom: 10px
    &-placeholder
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 10px
      &__text
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
      &__img
        img
          min-height: 1em

    &-alarm
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 10px
      &__text
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
      &__img
        img
          min-height: 1em

    &-city
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $active-background-color-dark
      padding: 10px
      &__text
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
      &__img
        img
          min-height: 1em


    &-social
      display: flex
      justify-content: space-between
      align-items: center
      //background-color: $active-background-color-dark
      //padding: 10px
      &__img
        img
          min-height: 1em
          padding-left: 5px
