ul.nav1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.header-text-prop {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.btn-poligon-right {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-poligon-right .txt {
  font-size: 1em;
}

.btn-poligon-right .poligon-right {
  width: 50px;
  height: 50px;
  background-color: #ffb118;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.btn-poligon-left {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-poligon-left .txt {
  font-size: 1em;
}

.btn-poligon-left .poligon-left {
  width: 50px;
  height: 50px;
  background-color: #175488;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-family: "AgoraSansProRegular", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

.main .header .logo-info,
.main .footer .logo-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #175488;
}

.main .header .logo-info .nav-logo-info,
.main .footer .logo-info .nav-logo-info {
  background-color: #124673;
  position: relative;
  text-align: center;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info,
.main .footer .logo-info .nav-logo-info .wrap-logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend {
  display: none;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img {
  display: none;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .open-logo-info,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .open-logo-info {
  display: none;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
}

.main .header .logo-info .nav-logo-info .ul-logo-info,
.main .footer .logo-info .nav-logo-info .ul-logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #175488;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li,
.main .footer .logo-info .nav-logo-info .ul-logo-info li {
  display: inline-block;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li a,
.main .footer .logo-info .nav-logo-info .ul-logo-info li a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img {
  min-height: 2.0rem;
  padding-left: 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #ffb118;
  border-radius: 5px;
  padding: 0.9rem;
}

@media all and (max-width: 992px) {
  .main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend {
    display: none;
  }

  .main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img {
    display: none;
  }

  .main .header .logo-info .nav-logo-info .wrap-logo-info .open-logo-info,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .open-logo-info {
    display: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info,
  .main .footer .logo-info .nav-logo-info .ul-logo-info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social {
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img {
    min-height: 2.0rem;
    padding-left: 0.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li.logo .logo-img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li.logo .logo-img img {
    height: 3.0rem;
  }
}

@media (max-width: 576px) {
  #logo_brend {
    display: block;
  }

  #logo_brend .logo-img {
    display: block;
  }

  #open_logo_info {
    display: block;
    padding: 0 0.5rem;
  }

  #ul_logo_info {
    display: none;
    width: 100%;
  }

  #ul_logo_info li {
    display: block;
    border-bottom: 1px solid #175488;
  }

  #ul_logo_info li.logo {
    display: none;
  }

  #ul_logo_info.active {
    display: block;
  }
}

.menu-primary {
  font-family: "LatoRegular", sans-serif;
}

.menu-primary .nav-menu-main {
  position: relative;
  text-align: center;
}

.menu-primary .nav-menu-main .wrap-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-primary .nav-menu-main .wrap-menu-main .logo-brend {
  display: none;
}

.menu-primary .nav-menu-main .wrap-menu-main .open-menu-main {
  display: none;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-primary .nav-menu-main .ul-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-primary .nav-menu-main .ul-menu-main li {
  display: inline-block;
}

.menu-primary .nav-menu-main .ul-menu-main li a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.menu-primary .nav-menu-main .ul-menu-main li a:hover {
  color: #ffb118;
}

@media (max-width: 1200px) {
  .menu-primary {
    font-family: "LatoRegular", sans-serif;
  }

  .menu-primary .nav-menu-main .ul-menu-main li a {
    font-size: 1.2rem;
  }

  .menu-primary .nav-menu-main .ul-menu-main li a:hover {
    color: #ffb118;
  }
}

@media (max-width: 992px) {
  .menu-primary {
    font-family: "LatoRegular", sans-serif;
  }

  .menu-primary .nav-menu-main .ul-menu-main li a {
    font-size: 0.9rem;
  }

  .menu-primary .nav-menu-main .ul-menu-main li a:hover {
    color: #ffb118;
  }
}

@media (max-width: 576px) {
  #logo_brend {
    display: block;
  }

  #open_menu_main {
    display: block;
    padding: 0 0.5rem;
  }

  #ul_menu_main {
    display: none;
    width: 100%;
  }

  #ul_menu_main li {
    display: block;
    border-bottom: 1px solid #175488;
  }

  #ul_menu_main li.logo {
    display: none;
  }

  #ul_menu_main li:hover {
    background-color: red;
  }

  #ul_menu_main.active {
    display: block;
  }
}

.menu-primary {
  background-color: #124673;
}

.menu-primary .navbar {
  background-color: #124673 !important;
  padding: 0;
}

.menu-primary .ul-prim-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.menu-primary .ul-prim-menu li button {
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.menu-primary .ul-prim-menu li button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.main .header .logo-info,
.main .footer .logo-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #175488;
}

.main .header .logo-info .nav-logo-info,
.main .footer .logo-info .nav-logo-info {
  background-color: #124673;
  position: relative;
  text-align: center;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info,
.main .footer .logo-info .nav-logo-info .wrap-logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend {
  display: none;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img {
  display: none;
}

.main .header .logo-info .nav-logo-info .wrap-logo-info .open-logo-info,
.main .footer .logo-info .nav-logo-info .wrap-logo-info .open-logo-info {
  display: none;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
}

.main .header .logo-info .nav-logo-info .ul-logo-info,
.main .footer .logo-info .nav-logo-info .ul-logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #175488;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li,
.main .footer .logo-info .nav-logo-info .ul-logo-info li {
  display: inline-block;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li a,
.main .footer .logo-info .nav-logo-info .ul-logo-info li a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #124673;
  padding: 1rem;
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img {
  height: 2.0rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img {
  min-height: 2.0rem;
  padding-left: 0.5rem;
}

.main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text,
.main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #ffb118;
  border-radius: 5px;
  padding: 0.9rem;
}

@media all and (max-width: 992px) {
  .main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend {
    display: none;
  }

  .main .header .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .logo-brend .logo-img {
    display: none;
  }

  .main .header .logo-info .nav-logo-info .wrap-logo-info .open-logo-info,
  .main .footer .logo-info .nav-logo-info .wrap-logo-info .open-logo-info {
    display: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info,
  .main .footer .logo-info .nav-logo-info .ul-logo-info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-placeholder__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-alarm__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-city__img img {
    height: 1.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social {
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-social__img img {
    min-height: 2.0rem;
    padding-left: 0.5rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li .logo-info-call-alarm__text {
    font-size: 1.0rem;
  }

  .main .header .logo-info .nav-logo-info .ul-logo-info li.logo .logo-img img,
  .main .footer .logo-info .nav-logo-info .ul-logo-info li.logo .logo-img img {
    height: 3.0rem;
  }
}

@media (max-width: 576px) {
  #logo_brend {
    display: block;
  }

  #logo_brend .logo-img {
    display: block;
  }

  #open_logo_info {
    display: block;
    padding: 0 0.5rem;
  }

  #ul_logo_info {
    display: none;
    width: 100%;
  }

  #ul_logo_info li {
    display: block;
    border-bottom: 1px solid #175488;
  }

  #ul_logo_info li.logo {
    display: none;
  }

  #ul_logo_info.active {
    display: block;
  }
}

.footer .footer-top {
  background-color: #ffb118;
}

.footer .footer-top .footer-top-inner {
  padding-top: 100px;
}

.footer .footer-top .footer-top-inner .title {
  padding-bottom: 100px;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.footer .footer-top .footer-top-inner .find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer .footer-top .footer-top-inner .find-us .pic {
  width: 60%;
  padding-right: 20px;
}

.footer .footer-top .footer-top-inner .find-us .pic .img {
  width: 100%;
}

.footer .footer-top .footer-top-inner .find-us .pic .img img {
  width: 100%;
  height: 100%;
}

.footer .footer-top .footer-top-inner .find-us .menu {
  width: 40%;
  padding-left: 20px;
}

.footer .footer-top .footer-top-inner .find-us .menu ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.footer .footer-top .footer-top-inner .find-us .menu ul a {
  text-decoration: none;
}

.footer .footer-top .footer-top-inner .find-us .menu ul a li {
  width: 100%;
  display: block;
  padding: 20px;
  text-align: left;
  background-color: #222222;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer .footer-bottom {
  background-color: #124673;
}

.main {
  font-size: 10px;
}

.main .slider-block {
  position: relative;
  background: #373737 url("../img/slider/slider-bg-2.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main .slider-block .slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .slider-block .slider {
  position: relative;
}

.main .slider-block .slider-title {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  color: #ffffff;
  z-index: 1;
}

.main .slider-block .slider-title__text1 {
  padding-top: 80px;
  font-size: 3.7em;
  font-weight: 400;
}

.main .slider-block .slider-title__text2 {
  padding-top: 10px;
  font-size: 4.5em;
  font-weight: 400;
  text-transform: uppercase;
}

.main .slider-block .slider-title__text3 {
  font-family: "LatoRegular", sans-serif;
  padding-top: 37px;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 30px;
}

.main .slider-block .slider-title-buttons {
  padding-top: 25px;
}

.main .slider-block .slider-title-buttons a {
  text-decoration: none;
}

.main .slider-block .slider-title-buttons a .btn-poligon-right {
  width: 60%;
  height: 45px;
  border-radius: 0 0 0 5px;
  margin-bottom: 20px;
}

.main .slider-block .slider-title-buttons a .btn-poligon-right .txt {
  margin: auto;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .slider-block .slider-title-buttons a .btn-poligon-right .poligon-right {
  width: 45px;
  height: 45px;
}

.main .slider-block .slider .wrap {
  width: 100%;
  position: relative;
}

.main .slider-block .slider .wrap .slider-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main .slider-block .slider .wrap .slider-item img {
  width: 100%;
}

.main .slider-block .slider .wrap .prev {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.main .slider-block .slider .wrap .prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.main .slider-block .slider .wrap .prev:hover .arrow-left {
  opacity: 1;
}

.main .slider-block .slider .wrap .prev .arrow-left {
  width: 30px;
  height: 30px;
  background: url("../img/slider/111/icons/left-arrow.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .slider-block .slider .wrap .next {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 0;
}

.main .slider-block .slider .wrap .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.main .slider-block .slider .wrap .next:hover .arrow-right {
  opacity: 1;
}

.main .slider-block .slider .wrap .next .arrow-right {
  width: 30px;
  height: 30px;
  background: url("../img/slider/111/icons/right-arrow.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .slider-block .slider-dots {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  bottom: 5%;
  right: 0;
}

.main .slider-block .slider-dots .dot-jd {
  background: url("../img/slider/icons/jd.png") center no-repeat;
}

.main .slider-block .slider-dots .dot-av {
  background: url("../img/slider/icons/airplane.png") center no-repeat;
}

.main .slider-block .slider-dots .dot-sh {
  background: url("../img/slider/icons/ship.png") center no-repeat;
}

.main .slider-block .slider-dots .dot-sf {
  background: url("../img/slider/icons/safe.png") center no-repeat;
}

.main .slider-block .slider-dots .dot {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 5px 10px;
  background-color: #124673;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  position: relative;
}

.main .slider-block .slider-dots .dot-active {
  background-color: #ffb118;
  height: 40px;
  width: 40px;
}

@media (max-width: 1200px) {
  .main .slider-block .slider-title__text1 {
    font-size: 2.5rem;
    padding-top: 5.0rem;
  }

  .main .slider-block .slider-title__text2 {
    font-size: 3.5rem;
  }

  .main .slider-block .slider-title__text3 {
    font-size: 2.5rem;
  }

  .main .slider-block .slider-title-buttons {
    padding-top: 2.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .txt {
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .poligon-right {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 990px) {
  .main .slider-block .slider-title__text1 {
    font-size: 1.5rem;
    padding-top: 4.0rem;
  }

  .main .slider-block .slider-title__text2 {
    font-size: 2.5rem;
  }

  .main .slider-block .slider-title__text3 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .main .slider-block .slider-title-buttons {
    padding-top: 1.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right {
    width: 70%;
    height: 3rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .txt {
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .poligon-right {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .main .slider-block .slider-title__text1 {
    font-size: 1.5rem;
    padding-top: 2.0rem;
  }

  .main .slider-block .slider-title__text2 {
    font-size: 2.0rem;
  }

  .main .slider-block .slider-title__text3 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    line-height: 1.3rem;
  }

  .main .slider-block .slider-title-buttons {
    padding-top: 1.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right {
    width: 80%;
    height: 3rem;
    margin-bottom: 1.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .txt {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .poligon-right {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 540px) {
  .main .slider-block {
    display: none;
  }

  .main .slider-block .slider-title__text1 {
    font-size: 1.5rem;
    padding-top: 2.0rem;
  }

  .main .slider-block .slider-title__text2 {
    font-size: 2.0rem;
  }

  .main .slider-block .slider-title__text3 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    line-height: 1.3rem;
  }

  .main .slider-block .slider-title-buttons {
    padding-top: 1.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right {
    width: 80%;
    height: 3rem;
    margin-bottom: 1.0rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .txt {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .main .slider-block .slider-title-buttons a .btn-poligon-right .poligon-right {
    width: 3rem;
    height: 3rem;
  }
}

.accept-shipp-block {
  background-color: #f2f2f1;
}

.accept-shipp-block--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 132px;
  position: relative;
}

.accept-shipp-block--title__accept {
  width: 50%;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #175386;
}

.accept-shipp-block--title__img {
  position: absolute;
  bottom: -13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
}

.accept-shipp-block--title__shipp {
  width: 50%;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb118;
}

.accept-shipp-block--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 35px;
}

.accept-shipp-block--items__accept {
  width: 49.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accept-shipp-block--items__accept-item {
  padding: 10px;
  margin-top: 3px;
  background-color: #fff;
}

.accept-shipp-block--items__accept-item .btn-poligon-left .txt {
  font-size: 20px;
}

.accept-shipp-block--items__shipp {
  width: 49.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accept-shipp-block--items__shipp-item {
  padding: 10px;
  margin-top: 3px;
  background-color: #fff;
}

.accept-shipp-block--items__shipp-item .btn-poligon-right .txt {
  font-size: 20px;
}

.accept-shipp-block--arrow {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 122px;
}

.safety-block {
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #ffb118;
}

.safety-block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.safety-block-inner .title {
  color: #ffffff;
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 5rem;
  width: 70%;
}

.safety-block-inner .btn {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.safety-block-inner .btn a {
  text-decoration: none;
}

.safety-block-inner .btn a .btn-poligon-right {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 0 0 0 5px;
}

.safety-block-inner .btn a .btn-poligon-right .txt {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.safety-block-inner .btn a .btn-poligon-right .poligon-right {
  display: none;
}

.safety-block-inner .img {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(75%);
  transform: translateX(75%);
}

.work-with-us-block-inner {
  padding-top: 136px;
  padding-bottom: 150px;
}

.work-with-us-block-inner .title {
  color: #175386;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.work-with-us-block-inner .items {
  padding-top: 100px;
}

.work-with-us-block-inner .items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  position: relative;
}

.work-with-us-block-inner .items__item-title {
  width: 70%;
  color: #333333;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.work-with-us-block-inner .items__item .imgs {
  width: 80px;
  height: 80px;
}

.work-with-us-block-inner .item1 .items__item-title {
  margin-right: 150px;
  text-align: right;
}

.work-with-us-block-inner .item1 .imgs {
  position: absolute;
  top: 0;
  right: 30px;
}

.work-with-us-block-inner .item1 .imgs .items__item-img {
  position: absolute;
  top: -10px;
  right: 0;
}

.work-with-us-block-inner .item1 .imgs .items__item-colon {
  position: absolute;
  top: 0;
  left: 0;
}

.work-with-us-block-inner .item2 .items__item-title {
  margin-left: 150px;
  text-align: left;
}

.work-with-us-block-inner .item2 .imgs {
  position: absolute;
  top: 0;
  left: 30px;
}

.work-with-us-block-inner .item2 .imgs .items__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.work-with-us-block-inner .item2 .imgs .items__item-colon {
  position: absolute;
  top: 0;
  right: 0;
}

.work-with-us-block-inner .item3 .items__item-title {
  margin-right: 150px;
  text-align: right;
}

.work-with-us-block-inner .item3 .imgs {
  position: absolute;
  top: 0;
  right: 30px;
}

.work-with-us-block-inner .item3 .imgs .items__item-img {
  position: absolute;
  top: 0;
  right: 0;
}

.work-with-us-block-inner .item3 .imgs .items__item-colon {
  position: absolute;
  top: 0;
  left: 0;
}

.work-with-us-block-inner .item4 .items__item-title {
  margin-left: 150px;
  text-align: left;
}

.work-with-us-block-inner .item4 .imgs {
  position: absolute;
  top: 0;
  left: 30px;
}

.work-with-us-block-inner .item4 .imgs .items__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.work-with-us-block-inner .item4 .imgs .items__item-colon {
  position: absolute;
  top: 0;
  right: 0;
}

.calc-block {
  background: #235c8c url("../img/mainCalc/bg-image.png") top no-repeat;
  color: #ffffff;
}

.calc-block-inner {
  padding-top: 120px;
  padding-bottom: 110px;
}

.calc-block-inner .title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.calc-block-inner #main-calc-form .all-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.calc-block-inner #main-calc-form .all-row .label {
  text-align: right;
  font-size: 19px;
  font-weight: 500;
  font-family: "LatoRegular", sans-serif;
}

.calc-block-inner #main-calc-form .all-row input {
  height: 40px;
  width: 100%;
}

.calc-block-inner #main-calc-form .all-row .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.calc-block-inner #main-calc-form .all-row .check-box input[type=checkbox] {
  display: none;
}

.calc-block-inner #main-calc-form .all-row .check-box label {
  font-size: 17px;
  font-weight: 300;
  margin-left: 20px;
}

.calc-block-inner #main-calc-form .all-row .check-box #check1div {
  width: 25px;
  height: 25px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calc-block-inner #main-calc-form .all-row .check-box #check1div #check-img1 {
  width: 70%;
}

.calc-block-inner #main-calc-form .all-row .check-box #check2div {
  width: 25px;
  height: 25px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calc-block-inner #main-calc-form .all-row .check-box #check2div #check-img2 {
  width: 70%;
}

.calc-block-inner #main-calc-form .all-row .check-box #check3div {
  width: 25px;
  height: 25px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calc-block-inner #main-calc-form .all-row .check-box #check3div #check-img3 {
  width: 70%;
}

.calc-block-inner #main-calc-form .all-row .form-btn a {
  text-decoration: none;
  color: #ffffff;
}

.calc-block-inner #main-calc-form .all-row .form-btn a .form-submit {
  margin-top: 50px;
  width: 100%;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 0 5px;
}

.calc-block-inner #main-calc-form .all-row .form-btn a .form-submit .txt {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
}

.calc-block-inner .hr {
  border-top: 1px solid #7897b5;
  height: 2px;
  margin-top: 50px;
}

.calc-block-inner .calc-result {
  margin-top: 50px;
}

.calc-block-inner .calc-result .all-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.calc-block-inner .calc-result .all-row .meth .txt {
  text-align: right;
  font-size: 19px;
  font-weight: 500;
}

.calc-block-inner .calc-result .all-row .meth .result-meth {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calc-block-inner .calc-result .all-row .meth .result-meth .price {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

.calc-block-inner .calc-result .all-row .meth .result-meth .img {
  margin-right: 10px;
}

.calc-block-inner .calc-result .all-row .meth .result-price {
  background-color: #ffb118;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  border-radius: 0 5px 0 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.calc-block-inner .calc-descr {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "LatoRegular", sans-serif;
}

.calc-block-inner .calc-descr-row {
  margin-top: 30px;
}

.calc-block-inner .calc-descr-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calc-block-inner .calc-descr-row-wrap .img {
  width: 50px;
}

.calc-block-inner .calc-descr-row-wrap .txt {
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
}

.calc-block-inner .calc-descr-row-wrap .btn {
  margin-left: 20px;
}

.calc-block-inner .calc-descr-row-wrap .btn a {
  text-decoration: none;
}

.calc-block-inner .calc-descr-row-wrap .btn a .call {
  width: 200px;
  color: #ffffff;
  background-color: #222222;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 0 0 0 5px;
}

.say-about-us-block .say-about-us-block-inner {
  padding-top: 135px;
  padding-bottom: 135px;
}

.say-about-us-block .say-about-us-block-inner .title {
  color: #175386;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 120px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 {
  position: relative;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  color: #c78030;
  z-index: 1;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title__text1 {
  padding-top: 80px;
  font-size: 3.7em;
  font-weight: 400;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title__text2 {
  padding-top: 10px;
  font-size: 4.5em;
  font-weight: 400;
  text-transform: uppercase;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title__text3 {
  padding-top: 37px;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 30px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title-buttons {
  padding-top: 25px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title-buttons a {
  text-decoration: none;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title-buttons a .btn-poligon-right {
  width: 60%;
  height: 45px;
  border-radius: 0 0 0 5px;
  margin-bottom: 20px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title-buttons a .btn-poligon-right .txt {
  margin: auto;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2-title-buttons a .btn-poligon-right .poligon-right {
  width: 45px;
  height: 45px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .slider-item-sl2 {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .slider-item-sl2 .ifr {
  width: 100%;
  height: 500px;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .slider-item-sl2 .ifr iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .slider-item-sl2 img {
  width: 100%;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .prev-sl2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .prev-sl2:hover {
  background-color: rgba(0, 0, 0, 0);
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .prev-sl2:hover .arrow-left-sl2 {
  opacity: 1;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .prev-sl2 .arrow-left-sl2 {
  width: 50px;
  height: 50px;
  background: url("../img/main-say-about/icons/left.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .7;
  -webkit-transition: 1s;
  transition: 1s;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .next-sl2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  right: 0;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .next-sl2:hover {
  background-color: rgba(0, 0, 0, 0);
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .next-sl2:hover .arrow-right-sl2 {
  opacity: 1;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .wrap-sl2 .next-sl2 .arrow-right-sl2 {
  width: 50px;
  height: 50px;
  background: url("../img/main-say-about/icons/right.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: .7;
  -webkit-transition: 1s;
  transition: 1s;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .slider-dots-sl2 {
  display: none;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  bottom: 5%;
  right: 0;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .slider-dots-sl2 .dot {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 5px 10px;
  background-color: #c78030;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  position: relative;
}

.say-about-us-block .say-about-us-block-inner .slider-sl2 .slider-dots-sl2 .dot-active {
  background-color: #ffffff;
  height: 40px;
  width: 40px;
}